{% csrf_token %}
{% load staticfiles %}

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    // DONE DJANGO HACK

    function get_site_prefix() {
        var href = $(location).attr("href");
        return href
    }

    function cache_clear() {
        window.location.reload(true);
        alert('refresh');
    }


    $(function () {
        var csrftoken = getCookie('csrftoken');
        $(document).ready(function () {
            setInterval(function () {
                cache_clear()
            }, 1000000);
        });

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        // END DJANGO AJAX

    });


</script>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tsinghua Cloud - OverallView Page</title>
    <script src="{% static 'jquery-easyui-1/jquery.min.js'%}"></script>
    <script src="{% static 'jquery-easyui-1/jquery.easyui.min.js'%}"></script>
    <script src="{% static 'js/totalcompare-pagination.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cloudclient/monitor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/themes/icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/themes/black/easyui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1/demo/demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/totalcompare-pagination.css' %}">

</head>

<style type="text/css">
    table.gridtable {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 10px, 10px, 0, 10px;
        border-color: #666666;

    }

    table.gridtable th {
        border-width: 2px;
        color: #FFFFFF;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #505247;
    }

    table.gridtable td {
        border-width: 2px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #F7F7F7;
    }
</style>

<body class="easyui-layout">
<div data-options="region:'north',border:false"
     style="height:60px;font-size:28px;color:#3C3C3C;background:#F5F5F5;padding:10px">清华云平台－监控模块
    <a href="/logout" class="easyui-linkbutton"
       style="background:#CCCCCC;width:60px;height:30px;position:relative;float:right;">登出</a>
</div>
<div data-options="region:'west',split:true,title:'菜单'" style="width:150px;padding:10px;">
    <a href="/hoststatus" class="easyui-linkbutton" style="width:130px">首页</a>
    <a href="/monitor" class="easyui-linkbutton" style="width:130px">详细信息</a>
    {% if usergroup != 'admin' %}
        <a href="/start_system" class="easyui-linkbutton" style="width:130px">网络服务</a>
    {% else %}
        <a href="/schedule" class="easyui-linkbutton" style="width:130px">调度监控</a>
    {% endif %}
    <a href="/totalcompare" class="easyui-linkbutton" style="width:130px">全局监控</a>
</div>
<div data-options="region:'center',title:'全局监控图'" style="background:#F0F0F0;color:#000000;position:relative;">
    <div>
        <div style="color:#000066;padding-left: 10px">
            <a id="mem_usage"  class="easyui-linkbutton" style="width:130px">内存使用</a>
            <a id="cpu_usage"  class="easyui-linkbutton" style="width:130px">CPU使用</a>
            <a id="disk_usage"  class="easyui-linkbutton" style="width:130px">磁盘使用</a>
            <a id="pro_count"  class="easyui-linkbutton" style="width:130px">进程数量</a>
            <a id="eth_io"  class="easyui-linkbutton" style="width:130px">网络I/O</a>
        </div>
        <script type="text/javascript">
            // Monitor type selection
            var monitor_choice = 1;
            $("#mem_usage").click(function () {
                monitor_choice = 1;
                memory();
            });
            $("#cpu_usage").click(function () {
                monitor_choice = 2;
                cpu();
            });
            $("#disk_usage").click(function () {
                monitor_choice = 3;
                disk();
            });
            $("#pro_count").click(function () {
                monitor_choice = 4;
                pro();
            });
            $("#eth_io").click(function () {
                monitor_choice = 5;
                eth();
            });

            action = function(){
                switch(monitor_choice){
                    case 1:
                        memory();
                        break;
                    case 2:
                        cpu();
                        break;
                    case 3:
                        disk();
                        break;
                    case 4:
                        pro();
                        break;
                    case 5:
                        eth();
                        break;
                };
            }
        </script>
        {% if usergroup == 'admin' %}
        <div style="color:#000066;padding-left: 10px;padding-top: 10px">
            <input id="search-user-input" style="width:150px"/>
            <a id="search-user" class="easyui-linkbutton" style="width:100px">查看用户主机</a>
            <a id="clear-filter" class="easyui-linkbutton" style="width:100px">清空</a>
            <div id="pagination" style="padding-left: 10px"></div>

        </div>
        <script type="text/javascript">
           // filter_string restricts query conditions, e.g. page / user
            var filter_string = "";
            var page_num = 1;
            var item_per_page = 4;
            $("#search-user").click( function(){
                var filter_user = $("#search-user-input").val();
                $("#page-num").empty();
                filter_string = "?user=" + filter_user;
                console.info(filter_string);
                action();
            });
            $("#clear-filter").click( function(){
                $("#search-user-input").empty();
                filter_string = "";
                action();
            });

            $("#pagination").click( function(){
                var filter_user = $("#search-user-input").val();
                var pageno = Pagination.page;
                console.info(pageno);
                filter_string = "?user=" + filter_user + "&page=" + pageno + "&pageelem=" + item_per_page;
                action();
            });

        </script>
        {% endif %}

        {% if usergroup == 'user' %}
        <div style="color:#000066;padding-left: 10px">
            <div id="pagination"></div>
        </div>
        <script type="text/javascript">
            // filter_string restricts query conditions, e.g. page / user
            var filter_string = "";
            var page_num = 1;
            $("#pagination").click( function(){
                var pageno = Pagination.page;
                filter_string = "?page=" + pageno;
                action();
            });

        </script>
        {% endif %}
        <div style="position:relative;height:600px;width:1300px">
        <div id="data-chart"
             style="height:600px;width:1000px;position:absolute;top:0;left:0; border:2px solid;border-color:#666666; "></div>
        <div id='data-form' style='height:300px;width:280px;position:absolute;left:1003px'>
            <table id='data-table' class="gridtable" toolbar="#tb"
                   data-options="border:false,singleSelect:true,fit:true,fitColumns:true,onLoadSuccess:function(data){ MergeCells('data-table','itemid');}">
                <thead>
                <tr>
                    <th data-options="field:'itemid'" width="60" sortable="true">主机</th>
                    <th data-options="field:'productid'" width="70">已用用量KB</th>
                    <th data-options="field:'listprice'" width="80">总量KB</th>
                    <th data-options="field:'unitcost'" width="40">使用率</th>

                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ECharts单文件引入 -->

    <script src="{% static 'jquery-easyui-1/echarts.js'%}"></script>
    <script type="text/javascript">
        $(function () {
            Pagination.Init( document.getElementById('pagination'), {size: {{ totalpage }}, page: 1, step: 1});
            action();
        });
        setInterval("action()", 3000);
        memory = function () {
            $.ajax({
                url: '/memory_external/' + filter_string ,
                success: function (result) {
                    Pagination.Init( document.getElementById('pagination'), {size: result.totalpage, page: Pagination.page, step: 1});
                    if (result.memorylist.length != 0) {
                        var memory_used_all = 0;
                        var memory_total_all = 0;
                        var memoryuse_name = [];
                        var memoryuse_used = [];
                        var memoryuse_total = [];

                        // Delete old table info
                        var data_table = document.getElementById("data-table");
                        var old_head = data_table.getElementsByTagName("thead");
                        old_head[0].innerHTML = "";

                        // Create new table head
                        var new_head_tr = document.createElement("tr");
                        var new_head_th = [];
                        new_head_th[0] = document.createElement("th");
                        new_head_th[0].setAttribute("data-options", "field:'itemid'");
                        new_head_th[0].setAttribute("width", 60);
                        new_head_th[0].setAttribute("sortable", "true");
                        new_head_th[0].textContent = "主机";

                        new_head_th[1] = document.createElement("th");
                        new_head_th[1].setAttribute("data-options", "field:'productid'");
                        new_head_th[1].setAttribute("width", 70);
                        new_head_th[1].textContent = "已用用量KB";

                        new_head_th[2] = document.createElement("th");
                        new_head_th[2].setAttribute("data-options", "field:'listprice'");
                        new_head_th[2].setAttribute("width", 80);
                        new_head_th[2].textContent = "总量KB";

                        new_head_th[3] = document.createElement("th");
                        new_head_th[3].setAttribute("data-options", "field:'unitcost'");
                        new_head_th[3].setAttribute("width", 40);
                        new_head_th[3].textContent = "使用率";

                        new_head_tr.appendChild(new_head_th[0]);
                        new_head_tr.appendChild(new_head_th[1]);
                        new_head_tr.appendChild(new_head_th[2]);
                        new_head_tr.appendChild(new_head_th[3]);
                        old_head[0].appendChild(new_head_tr);

                        var old_body = data_table.getElementsByTagName("tbody");
                        old_body[0].remove();

                        var new_data_table = document.createElement("tbody");
                        var new_tr = [];
                        var new_td = [];
                        for (var i = 0; i < result.memorylist.length; i++) {

                            memoryuse_name.push(result.memorylist[i].name);
                            memoryuse_used.push(result.memorylist[i].used);
                            memory_used_all = parseFloat(memory_used_all) + parseFloat(result.memorylist[i].used);
                            memoryuse_total.push(result.memorylist[i].total);
                            memory_total_all = parseFloat(memory_total_all) + parseFloat(result.memorylist[i].total);

                            // Create new table elements
                            new_tr[i] = document.createElement("tr");

                            new_td[0] = document.createElement("td");
                            new_td[0].textContent = result.memorylist[i].name;
                            new_tr[i].appendChild(new_td[0]);

                            new_td[1] = document.createElement("td");
                            new_td[1].textContent = result.memorylist[i].used;
                            new_tr[i].appendChild(new_td[1]);

                            new_td[2] = document.createElement("td");
                            new_td[2].textContent = result.memorylist[i].total;
                            new_tr[i].appendChild(new_td[2]);

                            new_td[3] = document.createElement("td");
                            new_td[3].textContent = result.memorylist[i].percentage;
                            new_tr[i].appendChild(new_td[3]);

                            new_data_table.appendChild(new_tr[i]);
                        }
                        data_table.appendChild(new_data_table);
                        setMemory(memoryuse_name, memoryuse_used, memoryuse_total);
                    }


                    else {
                        setMemory(' ', ' ', ' ');
                    }
                }
            });
        };
        setMemory = function (memoryuse_name, memoryuse_used, memoryuse_total) {
           // 路径配置
            require.config({
                paths: {
                    echarts: 'http://echarts.baidu.com/build/dist'
                }
            });
            // 使用
            require(
                    [
                        'echarts',
                        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载

                    ],


                    function (ec) {

                        // 基于准备好的dom，初始化echarts图表


                        var number = memoryuse_total.length;
                        //alert(number);
                        var mark = new Array();
                        for (var i = 0; i < number; i++) {

                            var o = {

                                value: memoryuse_total[i] ? (memoryuse_used[i] / memoryuse_total[i]).toFixed(2) : 0,
                                xAxis: i,
                                yAxis: (memoryuse_total[i] + 5500000)
                            }
                            //alert(o);
                            mark.push(o);

                        }
                        var myChart = ec.init(document.getElementById('data-chart'));
                        var option = {
                            title: {
                                text: '各主机内存使用情况',
                                subtext: 'by 清华云平台'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: [
                                    '内存使用情况－已用', '',
                                    '内存使用情况－总量']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: {show: true},
                                    dataView: {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            calculable: true,
                            grid: {y: 70, y2: 30, x2: 20},
                            xAxis: [
                                {
                                    type: 'category',
                                    data: memoryuse_name
                                },
                                {
                                    type: 'category',
                                    axisLine: {show: false},
                                    axisTick: {show: false},
                                    axisLabel: {show: false},
                                    splitArea: {show: false},
                                    splitLine: {show: false},
                                    data: memoryuse_name
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value',
                                    axisLabel: {formatter: '{value} KB'}
                                }
                            ],
                            series: [

                                {
                                    name: '内存使用情况－已用',
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {
                                            color: 'rgba(102,102,255,1)',
                                            label: {show: true, textStyle: {color: '#27727B'}}
                                        }
                                    },
                                    data: memoryuse_used
                                },


                                {
                                    name: '内存使用情况－总量',
                                    type: 'bar',
                                    xAxisIndex: 1,
                                    itemStyle: {normal: {color: 'rgba(102,102,255,0.6)', label: {show: true}}},
                                    data: memoryuse_total,

                                    markPoint: {
                                        data: mark,
                                        itemStyle: {
                                            normal: {
                                                color: 'rgba(102,102,255,0.8)',
                                                label: {show: true},
                                                borderWidth: 10
                                            }


                                        }

                                    }
                                },

                            ]


                        };

                        // 为echarts对象加载数据
                        console.info(option);
                        myChart.setOption(option);
                    }
            );
        };
        cpu = function () {
            $.ajax({
                url: '/cpu_external/' + filter_string ,
                success: function (result){
                    Pagination.Init( document.getElementById('pagination'), {size: result.totalpage, page: Pagination.page, step: 1});
                    if (result.cpulist.length != 0) {
                        var cpuuse_name = [];
                        var cpuuse_used = [];
                        var cpuuse_percentage = [];
                        var cpuuse_total = [];

                        // Delete old table head info
                        var data_table = document.getElementById("data-table");
                        var old_head = data_table.getElementsByTagName("thead");
                        old_head[0].innerHTML = "";

                        // Create new table head
                        var new_head_tr = document.createElement("tr");
                        var new_head_th = [];
                        new_head_th[0] = document.createElement("th");
                        new_head_th[0].setAttribute("data-options", "field:'itemid'");
                        new_head_th[0].setAttribute("width", 60);
                        new_head_th[0].setAttribute("sortable", "true");
                        new_head_th[0].textContent = "主机";

                        new_head_th[1] = document.createElement("th");
                        new_head_th[1].setAttribute("data-options", "field:'productid'");
                        new_head_th[1].setAttribute("width", 70);
                        new_head_th[1].textContent = "CPU利用率";

                        new_head_tr.appendChild(new_head_th[0]);
                        new_head_tr.appendChild(new_head_th[1]);
                        old_head[0].appendChild(new_head_tr);

                        // Delete old table info
                        var old_body = data_table.getElementsByTagName("tbody");
                        old_body[0].remove();

                        // Prepare new table info
                        var new_cpu_table = document.createElement("tbody");
                        var new_tr = [];
                        var new_td = [];

                        for (var i = 0; i < result.cpulist.length; i++) {
                            cpuuse_name.push(result.cpulist[i].name);
                            cpuuse_used.push(result.cpulist[i].used);
                            cpuuse_percentage.push(result.cpulist[i].percentage);
                            cpuuse_total.push(0.999999);

                            // Create new table elements
                            new_tr[i] = document.createElement("tr");

                            new_td[0] = document.createElement("td");
                            new_td[0].textContent = result.cpulist[i].name;
                            new_tr[i].appendChild(new_td[0]);

                            new_td[1] = document.createElement("td");
                            new_td[1].textContent = result.cpulist[i].percentage.toString();
                            new_tr[i].appendChild(new_td[1]);

                            new_cpu_table.appendChild(new_tr[i]);
                        }
                        data_table.appendChild(new_cpu_table);
                        setCpu(cpuuse_name, cpuuse_used, cpuuse_percentage, cpuuse_total);
                    }


                    else {
                        setCpu(' ', ' ', ' ');
                    }
                }
            });
        };

        setCpu = function (cpuuse_name, cpuuse_used, cpuuse_percentage, cpuuse_total) {
            // 路径配置
            require.config({
                paths: {
                    echarts: 'http://echarts.baidu.com/build/dist'
                }
            });
            // 使用
            require(
                    [
                        'echarts',
                        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载

                    ],
                    function (ec) {
                        // 基于准备好的dom，初始化echarts图表

                        var myChart = ec.init(document.getElementById('data-chart'));
                        var option = {
                            title: {
                                text: '各主机CPU使用情况',
                                subtext: 'by 清华云平台'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: [
                                    'CPU使用情况－已用', '',
                                    'CPU使用情况－总量']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: {show: true},
                                    dataView: {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            calculable: true,

                            xAxis: [
                                {
                                    type: 'category',
                                    data: cpuuse_name
                                },
                                {
                                    type: 'category',
                                    axisLine: {show: false},
                                    axisTick: {show: false},
                                    axisLabel: {show: false},
                                    splitArea: {show: false},
                                    splitLine: {show: false},
                                    data: cpuuse_name
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value',
                                    axisLabel: {formatter: '{value}'}
                                }
                            ],
                            series: [

                                {
                                    name: 'CPU使用情况－利用率',
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {
                                            color: 'rgba(255,255,0,1)',
                                            label: {show: true, textStyle: {color: '#27727B'}},
                                            formatter: '{c} %'
                                        }
                                    },
                                    data: cpuuse_used
                                },


                                {
                                    name: 'CPU使用情况－总量',
                                    type: 'bar',
                                    xAxisIndex: 1,
                                    itemStyle: {normal: {color: 'rgba(255,255,0,0.2)'}},
                                    data: cpuuse_total


                                },

                            ]


                        };

                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
            );
        }
        disk = function () {
            $.ajax({
                url: '/disk_external/' + filter_string ,
                success: function (result) {
                    Pagination.Init( document.getElementById('pagination'), {size: result.totalpage, page: Pagination.page, step: 1});
                    if (result.disklist.length != 0) {
                        var disk_used_all = 0;
                        var disk_total_all = 0;
                        var diskuse_name = [];
                        var diskuse_used = [];
                        var diskuse_total = [];

                        // Delete old table head info
                        var data_table = document.getElementById("data-table");
                        var old_head = data_table.getElementsByTagName("thead");
                        old_head[0].innerHTML = "";

                        // Create new table head
                        var new_head_tr = document.createElement("tr");
                        var new_head_th = [];
                        new_head_th[0] = document.createElement("th");
                        new_head_th[0].setAttribute("data-options", "field:'itemid'");
                        new_head_th[0].setAttribute("width", 60);
                        new_head_th[0].setAttribute("sortable", "true");
                        new_head_th[0].textContent = "主机";

                        new_head_th[1] = document.createElement("th");
                        new_head_th[1].setAttribute("data-options", "field:'productid'");
                        new_head_th[1].setAttribute("width", 70);
                        new_head_th[1].textContent = "已用用量MB";

                        new_head_th[2] = document.createElement("th");
                        new_head_th[2].setAttribute("data-options", "field:'listprice'");
                        new_head_th[2].setAttribute("width", 80);
                        new_head_th[2].textContent = "总量MB";

                        new_head_th[3] = document.createElement("th");
                        new_head_th[3].setAttribute("data-options", "field:'unitcost'");
                        new_head_th[3].setAttribute("width", 40);
                        new_head_th[3].textContent = "使用率";

                        new_head_tr.appendChild(new_head_th[0]);
                        new_head_tr.appendChild(new_head_th[1]);
                        new_head_tr.appendChild(new_head_th[2]);
                        new_head_tr.appendChild(new_head_th[3]);
                        old_head[0].appendChild(new_head_tr);

                        // Delete old table info
                        var old_body = data_table.getElementsByTagName("tbody");
                        old_body[0].remove();

                        // Prepare new table info
                        var new_disk_table = document.createElement("tbody");
                        var new_tr = [];
                        var new_td = [];
                        for (var i = 0; i < result.disklist.length; i++) {
                            diskuse_name.push(result.disklist[i].name);
                            diskuse_used.push(result.disklist[i].used);
                            disk_used_all = parseFloat(disk_used_all) + parseFloat(result.disklist[i].used);
                            diskuse_total.push(result.disklist[i].total);
                            disk_total_all = parseFloat(disk_total_all) + parseFloat(result.disklist[i].total);

                            // Create new table elements
                            new_tr[i] = document.createElement("tr");

                            new_td[0] = document.createElement("td");
                            new_td[0].textContent = result.disklist[i].name;
                            new_tr[i].appendChild(new_td[0]);

                            new_td[1] = document.createElement("td");
                            new_td[1].textContent = result.disklist[i].used;
                            new_tr[i].appendChild(new_td[1]);

                            new_td[2] = document.createElement("td");
                            new_td[2].textContent = result.disklist[i].total.toString();
                            new_tr[i].appendChild(new_td[2]);

                            new_td[3] = document.createElement("td");
                            new_td[3].textContent = result.disklist[i].percentage.toString();
                            new_tr[i].appendChild(new_td[3]);

                            new_disk_table.appendChild(new_tr[i]);
                        }

                        data_table.appendChild(new_disk_table);

                            // Draw Charts based on records received
                        setDisk(diskuse_name, diskuse_used, diskuse_total);
                    }


                    else {
                        setDisk(' ', ' ', ' ');
                    }
                }
            });
        };

        setDisk = function (diskuse_name, diskuse_used, diskuse_total) {
            // 路径配置
            require.config({
                paths: {
                    echarts: 'http://echarts.baidu.com/build/dist'
                }
            });
            // 使用
            require(
                    [
                        'echarts',
                        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载

                    ],
                    function (ec) {
                        // 基于准备好的dom，初始化echarts图表

                        var number = diskuse_total.length;
                        //alert(number);
                        var mark = new Array();
                        for (var i = 0; i < number; i++) {
                            var o = {
                                value: diskuse_total[i] ? (diskuse_used[i] / diskuse_total[i]).toFixed(2) : 0,
                                xAxis: i,
                                yAxis: (diskuse_total[i] + 200000)
                            }
                            //alert(o);
                            mark.push(o);

                        }
                        var myChart = ec.init(document.getElementById('data-chart'));
                        var option = {
                            title: {
                                text: '各主机磁盘使用情况',
                                subtext: 'by 清华云平台'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: [
                                    '磁盘使用情况－已用', '',
                                    '磁盘使用情况－总量']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: {show: true},
                                    dataView: {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            calculable: true,
                            grid: {y: 70, y2: 30, x2: 20},
                            xAxis: [
                                {
                                    type: 'category',
                                    data: diskuse_name
                                },
                                {
                                    type: 'category',
                                    axisLine: {show: false},
                                    axisTick: {show: false},
                                    axisLabel: {show: false},
                                    splitArea: {show: false},
                                    splitLine: {show: false},
                                    data: diskuse_name
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value',
                                    axisLabel: {formatter: '{value} KB'}
                                }
                            ],
                            series: [

                                {
                                    name: '磁盘使用情况－已用',
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {
                                            color: 'rgba(255,106,106,1)',
                                            label: {show: true, textStyle: {color: '#27727B'}}
                                        }
                                    },
                                    data: diskuse_used
                                },


                                {
                                    name: '磁盘使用情况－总量',
                                    type: 'bar',
                                    xAxisIndex: 1,
                                    itemStyle: {normal: {color: 'rgba(255,106,106,0.6)', label: {show: true}}},
                                    data: diskuse_total,

                                    markPoint: {
                                        data: mark,
                                        itemStyle: {
                                            normal: {
                                                color: 'rgba(255,106,106,0.8)',
                                                label: {show: true},
                                                borderWidth: 15
                                            },


                                        }

                                    },
                                },

                            ]


                        };

                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
            );
        }
        pro = function () {
            $.ajax({
                url: '/pro_external/' + filter_string ,
                success: function (result) {
                    Pagination.Init( document.getElementById('pagination'), {size: result.totalpage, page: Pagination.page, step: 1});
                    if (result.prolist.length != 0) {
                        var prouse_name = [];
                        var prouse_used = [];
                        var prouse_percentage = [];
                        var prouse_total = [];

                        // Delete old table head info
                        var data_table = document.getElementById("data-table");
                        var old_head = data_table.getElementsByTagName("thead");
                        old_head[0].innerHTML = "";

                        // Create new table head
                        var new_head_tr = document.createElement("tr");
                        var new_head_th = [];
                        new_head_th[0] = document.createElement("th");
                        new_head_th[0].setAttribute("data-options", "field:'itemid'");
                        new_head_th[0].setAttribute("width", 60);
                        new_head_th[0].setAttribute("sortable", "true");
                        new_head_th[0].textContent = "主机";

                        new_head_th[1] = document.createElement("th");
                        new_head_th[1].setAttribute("data-options", "field:'productid'");
                        new_head_th[1].setAttribute("width", 70);
                        new_head_th[1].textContent = "CPU利用率";

                        new_head_tr.appendChild(new_head_th[0]);
                        new_head_tr.appendChild(new_head_th[1]);
                        old_head[0].appendChild(new_head_tr);

                        // Delete old table info
                        var old_body = data_table.getElementsByTagName("tbody");
                        old_body[0].remove();

                        // Prepare new table info
                        var new_pro_table = document.createElement("tbody");
                        var new_tr = [];
                        var new_td = [];

                        for (var i = 0; i < result.prolist.length; i++) {
                            prouse_name.push(result.prolist[i].name);
                            prouse_used.push(result.prolist[i].used);
                            prouse_total.push(0.999999);

                            // Create new table elements
                            new_tr[i] = document.createElement("tr");

                            new_td[0] = document.createElement("td");
                            new_td[0].textContent = result.prolist[i].name;
                            new_tr[i].appendChild(new_td[0]);

                            new_td[1] = document.createElement("td");
                            new_td[1].textContent = result.prolist[i].used;
                            new_tr[i].appendChild(new_td[1]);

                            new_pro_table.appendChild(new_tr[i]);
                        }
                        data_table.appendChild(new_pro_table);
                        setPro(prouse_name, prouse_used, prouse_percentage, prouse_total);
                    }
                    else {
                        setPro(' ', ' ', ' ');
                    }
                }
            });
        };

        setPro = function (prouse_name, prouse_used, prouse_total) {         // 路径配置
            require.config({
                paths: {
                    echarts: 'http://echarts.baidu.com/build/dist'
                }
            });
            // 使用
            require(
                    [
                        'echarts',
                        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载

                    ],
                    function (ec) {
                        // 基于准备好的dom，初始化echarts图表
                        var myChart = ec.init(document.getElementById('data-chart'));

                        var option = {
                            title: {
                                text: '进程数量统计',
                                subtext: '',
                                x: 'left',
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            color: [
                                '#3cb371', '#87cefa', '#da70d6', '#32cd32', '#6495ed',
                                '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0',
                                '#1e90ff', '#ff6347', '#7b68ee', '#00fa9a', '#ffd700',
                                '#6b8e23', '#ff00ff', '#3cb371', '#b8860b', '#30e0e0'
                            ],

                            legend: {
                                data: ['']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: {show: true},
                                    dataView: {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            calculable: true,
                            yAxis: [
                                {
                                    type: 'value',
                                    boundaryGap: [0, 0.01]
                                }
                            ],
                            xAxis: [
                                {
                                    type: 'category',
                                    data: prouse_name,
                                }
                            ],
                            series: [
                                {
                                    name: '',
                                    type: 'bar',
                                    data: prouse_used,
                                    itemStyle: {
                                        normal: {
                                            color: 'rgba(255,255,0,1)',
                                            label: {show: true, textStyle: {color: '#27727B'}},
                                            formatter: '{c} %'
                                        }
                                    },
                                },
                            ]
                        };

                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
            );
        }
        eth = function () {
            $.ajax({
                url: '/eth_external/' + filter_string,
                success: function (result) {
                    Pagination.Init( document.getElementById('pagination'), {size: result.totalpage, page: Pagination.page, step: 1});
                    if (result.ethlist.length != 0) {
                        var eth_in = [];
                        var eth_name = [];
                        var eth_out = [];

                        // Delete old table head info
                        var data_table = document.getElementById("data-table");
                        var old_head = data_table.getElementsByTagName("thead");
                        old_head[0].innerHTML = "";

                        // Create new table head
                        var new_head_tr = document.createElement("tr");
                        var new_head_th = [];
                        new_head_th[0] = document.createElement("th");
                        new_head_th[0].setAttribute("data-options", "field:'itemid'");
                        new_head_th[0].setAttribute("width", 60);
                        new_head_th[0].setAttribute("sortable", "true");
                        new_head_th[0].textContent = "主机";

                        new_head_th[1] = document.createElement("th");
                        new_head_th[1].setAttribute("data-options", "field:'productid'");
                        new_head_th[1].setAttribute("width", 70);
                        new_head_th[1].textContent = "In (Kbps)";

                        new_head_th[2] = document.createElement("th");
                        new_head_th[2].setAttribute("data-options", "field:'listprice'");
                        new_head_th[2].setAttribute("width", 70);
                        new_head_th[2].textContent = "Out (Kbps)";


                        new_head_tr.appendChild(new_head_th[0]);
                        new_head_tr.appendChild(new_head_th[1]);
                        new_head_tr.appendChild(new_head_th[2]);
                        old_head[0].appendChild(new_head_tr);

                        // Delete old table info
                        var old_body = data_table.getElementsByTagName("tbody");
                        old_body[0].remove();

                        // Prepare new table info
                        var new_eth_table = document.createElement("tbody");
                        var new_tr = [];
                        var new_td = [];

                        for (var i = 0; i < result.ethlist.length; i++) {
                            eth_name.push(result.ethlist[i].name);
                            eth_in.push(result.ethlist[i].in);
                            eth_out.push(result.ethlist[i].out);

                            // Create new table elements
                            new_tr[i] = document.createElement("tr");

                            new_td[0] = document.createElement("td");
                            new_td[0].textContent = result.ethlist[i].name;
                            new_tr[i].appendChild(new_td[0]);

                            new_td[1] = document.createElement("td");
                            new_td[1].textContent = result.ethlist[i].in;
                            new_tr[i].appendChild(new_td[1]);

                            new_td[2] = document.createElement("td");
                            new_td[2].textContent = result.ethlist[i].in;
                            new_tr[i].appendChild(new_td[2]);
                            new_eth_table.appendChild(new_tr[i]);
                        }
                        data_table.appendChild(new_eth_table);
                        setEth(eth_name, eth_in, eth_out);
                    }


                    else {
                        setEth(' ', ' ', ' ');
                    }
                }
            });
        };

        setEth = function (eth_name, eth_in, eth_out) {                // 路径配置
            require.config({
                paths: {
                    echarts: 'http://echarts.baidu.com/build/dist'
                }
            });
            // 使用
            require(
                    [
                        'echarts',
                        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载

                    ],
                    function (ec) {
                        // 基于准备好的dom，初始化echarts图表
                        var myChart = ec.init(document.getElementById('data-chart'));

                        var option = {
                            title: {
                                text: '各主机网络I/O',
                                subtext: 'by 清华云平台'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: ['网络I/O-In', '网络I/O-Out']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: {show: true},
                                    dataView: {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            calculable: true,
                            xAxis: [
                                {
                                    type: 'category',
                                    data: eth_name
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: '网络I/O-IN',
                                    type: 'bar',
                                    data: eth_in,
                                    markPoint: {
                                        data: [
                                            {type: 'max', name: '最大值'},
                                            {type: 'min', name: '最小值'}
                                        ]
                                    }

                                },
                                {
                                    name: '网络I/O-Out',
                                    type: 'bar',
                                    data: eth_out,
                                    markPoint: {
                                        data: [
                                            {type: 'max', name: '最大值'},
                                            {type: 'min', name: '最小值'}
                                        ]
                                    }

                                }
                            ]
                        };

                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
            );
        }

    </script>
</div>
</body>
</html>